:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  margin: 0 auto;
  position: relative;
  
  }
  
  body {
    position: relative;
    padding: 0;
    margin: 0;
    background-color: #fffaef;
}

h1{
  font-size: 1.6rem;
}


.siteContainer{
  padding: 1rem;
}

.siteName{
  text-align: center;
}

.siteContent {
  display: flex;
  background-color: #e5e2dc;
  border-radius: 50px;
  position: relative;
}

.siteContentImage {
  width: 60%;
}

.siteImage{
  width: -webkit-fill-available;
  border-radius: 50px;
  padding: 1rem;
}

.siteContentInfo {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: larger;
}

iframe {
  margin-top: 3rem;
  width: 100%;
  height: 1200px;
}

.card-grid {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.aboutContentInfo {
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: larger;
  po
}

.aboutIt {
  display: flex;
  position: relative;
}

.itzamna { 
  width: 30%;
  height:min-content;
}

.eduardo {
  width: 10%;
  border-radius: 50px;
}

.aboutLink, .aboutLink:visited {
  color: brown;
}

@media (max-width: 800px ) {

  .siteContent {
    display: block;
  }

  .siteContentImage {
    width: 100% !important;
    }
  .siteImage {
      width: 100% !important;
      padding: 0 !important;
    }

  .aboutIt {
    display: block !important;
    position: relative !important;
  }
    
  .itzamna { 
    position: relative;
    width: 50% !important;
    left: 50% !important;
    transform: translate(-50%) !important;
    height:min-content;
  }
}
